DclNamespace {{ class.namespace }}

BegClass {{ class.name }} Access(*Public)
{% for field in fields %}
    DclProp {{ field.name | expandTo(16) }} Type({{ field.type }}) Length({{ field.length }}) Access(*Public)
{% endfor %}
EndClass