import peewee, os
import xlrd, datetime
import export_to_excel

{% for i in imports %}
{{i.import}}
{% endfor %}

class {{config.classname}}:
    def __init__(self):
        self.excel_map = {
{% for m in map %}
    "{{m.name}}" : "{{m.letter}}"
{% endfor %}


        "owner"          : "D",
                          "subject"        : "E",
                          "activitytype"   : "F",
                          "activitystatus" : "G",
                          "lastupdated"    : "I",
                          "company"        : "J",
                          "firstname"      : "K",
                          "lastname"       : "L"}









{% if config.needs_owner %}
include owner
{% endif %}


{{config.needs_owner}}
{{config.model}}
{{config.classname}}
"{{config.excel_spreadsheet}}"
{{config.excel_sheetname}}

{% for item in map %}
    {{item.name}}
{% endfor %}


{% for cols in columns %}
    {{ cols.name }}
    {% if cols.mapped_name %}
    uses a mapped name
    {% endif %}
{% endfor %}